.container {
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
  background-color: #d3d6d7;
}

.title {
  font-size: 2rem;
  color: #04e263;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.moviesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
